@page "/edit-game"
@page "/edit-game/{id:int}"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject GamesClient GamesClient
@inject GenresClient GenresClient

<PageTitle>@_title</PageTitle>

<h3>@_title</h3>

@if (_genres is not null && Game is not null)
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@Game" FormName="editGame" OnValidSubmit="HandleSubmitAsync">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Game.Name" class="form-control"/>
                    <ValidationMessage For="() => Game.Name"/>
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre:</label>
                    <InputSelect id="genre" @bind-Value="Game.GenreId" class="form-select">
                        <option value="">-- Select a genre --</option>
                        @foreach (var genre in _genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Game.GenreId"/>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="Game.Price" class="form-control"/>
                    <ValidationMessage For="() => Game.Price"/>
                </div>
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">Release Date:</label>
                    <InputDate id="releaseDate" @bind-Value="Game.ReleaseDate" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" role="button" href="/">Cancel</a>
            </EditForm>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {

    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    private GameDetails? Game { get; set; }

    private Genre[]? _genres;
    private string _title = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        // preventing to reset the game on post
        if (Game is not null)
            return;

        if (Id is not null)
        {
            Game = await GamesClient.GetGameAsync(Id.Value);
            _title = $"Edit '{Game.Name}'";
        }
        else
        {
            Game = new GameDetails
            {
                Name = string.Empty,
                ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow)
            };
            _title = "New Game";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _genres = await GenresClient.GetGenresAsync();
    }

    private async Task HandleSubmitAsync()
    {
        ArgumentNullException.ThrowIfNull(Game);

        if (Id is null)
        {
            await GamesClient.AddGameAsync(Game);
        }
        else
        {
            Game.Id = Id.Value;
            await GamesClient.UpdateGameAsync(Game);
        }

        NavigationManager.NavigateTo("/");
    }

}